# Wallet API Base URL
BASE_URL=https://your-api-base-url.com

# Authentication Credentials
USERNAME=your-username
PASSWORD=your-password

# Required X-Service-Id header value
SERVICE_ID=your-service-id

# API is unavailable
USE_MOCKS=true